@import "../../../../assets/styles/main.scss";

.forgotPasswordMainSection {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
    .brandLogo {
      display: flex;
      justify-content: center;
    }
    .forgotPasswordDiv {
      width: 245px;
      border-radius: 56px;
      background: #fff;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      
      h1 {
        font-size: 20px;
        @include inter700;
      }
    }
    .forgotPasswordText {
      h4 {
        text-align: center;
        font-size: 20px;
        @include lg {
          font-size: 17px;
        }
      }
    }
    .forgotPasswordForm form {
      display: flex;
      flex-flow: column;
      gap: 30px;
      .formInput {
        position: relative;
        label {
          width: 100%;
          padding-bottom: 10px;
          @include inter700;
          font-size: 20px;
          line-height: normal;
          color: #000;
          @include lg {
            font-size: 18px;
          }
        }
        input {
          width: 100%;
          height: 60px;
          padding: 15px 29px 15px 64px;
          border-radius: 62px;
          border: 3px solid rgba(255, 255, 255, 0.16);
          background: getColorHex("white");
          @include inter400;
          color: getColorHex("black");
          &::placeholder {
            color: getColorHex("placeholder");
            @include inter400;
            font-size: 20px;
            line-height: 20px;
            font-weight: 400;
          }
          &:focus {
            border-color: getColorHex("orange") !important;
            box-shadow: unset !important;
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          -moz-appearance: textfield;
        }
        .inputTextIcon {
          position: absolute;
          top: 68%;
          left: 6.5%;
          width: 45px;
          height: 45px;
          transform: translate(-50%, -50%);
          @include lg {
            left: 8%;
          }
        }
        .paaswordHideShow {
          position: absolute;
          top: 68%;
          right: 2%;
          width: 25px;
          height: 25px;
          transform: translate(-50%, -50%);
          &:hover{
            cursor: pointer;
          }
        }
      }
      .formOrOption {
        font-size: 20px;
        line-height: 24.2px;
        display: flex;
        justify-content: center;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: getColorHex("orange");
          width: 78px;
          height: 1px;
          top: 50%;
          left: 26%;
        }
        &::before {
          content: "";
          position: absolute;
          background-color: getColorHex("orange");
          width: 78px;
          height: 1px;
          top: 50%;
          right: 26%;
        }
      }
      .conditionsLink {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 24px;
        @include lg {
          gap: 15px;
        }
        .termsCondition {
          font-size: 20px;
          width: 50%;
          text-align: right;
          @include lg {
            font-size: 16px;
          }
        }
        .priavcyPolicy {
          font-size: 20px;
          width: 50%;
          text-align: left;
          @include lg {
            font-size: 16px;
          }
        }
        .centerLine {
          width: 1px;
          height: 21px;
          background-color: getColorHex("orange");
        }
      }
    }
  }
  