.tableHead{
    background-color: #F7F9FC;
    height: 48px
  }
  .collapseOpen{
    background-color: #F7F9FC;
  }
  .checkbox{
    width: 46px;
    padding: 50px;
  }
  .collapse{
    width: 36px;
  }
  .id{
    width: 48px;
  }
  .iccid{
    width: 504px;
  }
  .AccountId{
    width: 150px;
  }
  .country{
    width: 150px;
  }
  .reInstall{
    width: 150px;
  }

  .collapseTable{
    height: 64px;
  }

   .expandRow{
    background-color: #F7F9FC;
   }

   .tableRow{
    height: 48px
   }


  .collapseMargin{
    margin: 0px 16px 0px 16px
  }
  .emptySpace{
    width: 46px;
  }   
  .installTime{
    width: 157px;
  }
  .esimType{
    width: 157px;
  }
  .insallDevice{
    width: 156px;
  }
  .status{
    width: 206px;
  }

  