.tableHead {
    background-color: #f7f9fc;
  }
  .collapseOpen {
    background-color: #f7f9fc;
  //   width: 500px;
  }
  .expandRow {
    background-color: #f7f9fc;
  }
  .mainTableRow{
      .checkbox {
        width: 34px;
      }
      .collapse {
        width: 36px;
      }
      .id {
        width: 48px;
      }
      .date {
        width: 150px;
      }
      .AccountId {
        width: 120px;
      }
      .name {
        width: 200px;
      }
      .destination {
        width: 150px;
      }
      .data {
        width: 167px;
      }
      .days {
        width: 167px;
      }
  }
  
  .collapseTable {
    height: 64px;
  }
  .table-row {
    height: 48px;
  }
  .collapse-margin {
    margin: 0px 16px 0px 16px;
  }
  .os {
    width: 206px;
  }
  .esimType {
    width: 206px;
  }
  .iccid {
    width: 206px;
  }
  .status {
    width: 410px;
  
  }
  .emptySpace {
    width: 46px;
  }
  